.container {
    background-color: rgb(254, 254, 254);
    width: 300px;
    border: 15px solid rgb(131, 33, 187);
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
  }

  
  
 
  
 